/*  Table of Contents
    - General
    - Navbar
    - Content
    - Contact
    - Modal
    - Mobile

*/


/*  General  */

/* Google Fonts

font-family: 'Asar', serif;
font-family: 'Indie Flower', cursive;

*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 250, 240);
}

a {
    text-decoration: none;
    color: lightgoldenrodyellow;
    font: 20px 'Asar', serif;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
}

footer hr {
    width: 96%;
    margin: auto;
}

footer p {
    margin-left: 20px;
}

h1 {
    font-family: "Indie Flower", cursive;
    font-size: 3rem;
}

h2 {
    font-family: 'Asar', serif;
    font-size: 2rem;
}

p {
    font: 18px 'Asar', serif;
}

.UnderConstruction {
    margin-top: 4rem;
    margin-left: 16px;
    margin-bottom: 16px;
}

/*  Navbar  */
.navbar {
    background-color: maroon;
    box-sizing:border-box;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li:hover {
    background-color: rgb(161, 40, 48);
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    font: 16px 'Asar', serif;
}

#login {
    float: right;
    list-style: none;
}

.mobile-dropdown {
    display: none;
}

/*  Content  */

.content-top {
    margin-top: 4.5rem;
}

.hero {
    background-image: url("img/Geeks.jpg");
    background-size: cover;
    height: 20rem;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 8px;
}

.hero h1 {
    float: right;
    margin-right: 160px;
    margin-top: 160px;
}

.box {
    background-color: maroon;
    float: left;
    box-sizing: border-box;
    width: 30%;
    display: inline-block;
    padding: 12px;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    border-color: cornsilk;
    color: white;
}

.resume-box {
    background-color: rgb(161, 40, 48);
    box-sizing: border-box;
    width: 70%;
    display: inline-block;
    padding: 12px;
    margin: 15%;
    margin-top: 4.5rem;
    margin-bottom: 16px;
    border-radius: 8px;
    border-color: cornsilk;
    color: white;
}

.resume-title {
    font-size: 48px;
}

.resume-box li {
    margin-left: 20px;
}

.box h1, h2 {
    margin: 0;
    padding: 4px;
    text-align:center;
}

.box li {
    list-style: square;
    margin-left: 20px;
    font: 18px 'Asar', serif;
    font-size: 16px;
}

.profile-pic {
    height: 8rem;
    width: 6rem;
    float: left;
    border-radius: 8px;
    margin-top: 0px;
    margin: 4px;
    padding: 4px;
    overflow:auto;
}

.contact-info {
    list-style-type: none;
    margin-left: 20px;
}

hr {
    margin-top: 8px;
}

h3 {
    margin: 12px;
}

.summary {
    text-align: center;
}

/*  Contact */

.contact {
    margin-top: 4rem;
    margin-bottom: 20px;
    margin-left: 12px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 12px;
}

.contact a {
    color: maroon;
}

address {
    font-style: normal;
    font-size: 16px;
    margin-bottom: 4px;
}

/*  Modal   */

#fpbtn {
    overflow: auto;
    z-index: 1;
}

#fpmodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#fpmodal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*  Mobile  */

@media (max-width: 800px){

    /* Remove wide navbar */
    .navbar li {
        display: none;
    }

    .hero {
        display: none;
    }

    /* Replace with mobile dropdown menu */
    .mobile-dropdown {
        display: inline-block;
        background-color: maroon;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        width: 100%;
        height: 4rem;
    }

    #mobile-nav {
        display: none;
        position: absolute;
        background-color: rgb(161, 40, 48);
        min-width: 160px;
        border-radius: 0px 0px 8px 8px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        margin-top: 0;
    }

    .mobile-dropdown ul {
        margin-left: 0;
        list-style-type: none;
    }

    .mobile-dropdown li {
        border-radius: 8px;
        padding-bottom: 10px;
        padding-top: 4px;
        padding-right: 4px;
        padding-left: 20px;
        font-size: 24px;
    }

    #mobile-menu {
        background-image: url("img/menu.png");
        background-color: maroon;
        border: none;
        background-size: cover;
        width: 60px;
        height: 60px;
        display: inline-block;
        background-repeat: no-repeat;
    }

    #login {
        display: none;
    }

    .mobile-dropdown h3 {
        font-size: 24px;
        float: left;
        color: lightgoldenrodyellow;
        padding: 10px 20px;
        margin-bottom: 8px;
    }

    .box {
        width: 94%;
        overflow: hidden;
        margin-top: 0;
        margin-left: 3%;
        margin-right: 3%;
        box-sizing:padding-box;
    }

    .mobile-no-top {
        margin-top: 4.5rem;
    }

    .resume-box {
        width: 90%;
        margin: 5%;
        margin-top: 4.5rem;
    }
}