@{
    ViewBag.Title = "PJ Wehry";
}

<div class="contact">
    <h2>Contact Info</h2>

    <address>
        <strong>Address:</strong>
        Winter Park, FL
    </address>
    <address>
        <strong>Cell:</strong>
        (920) 328-3947
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:pjwehry@gmail.com">pjwehry@gmail.com</a><br />
    </address>
</div>