@{
    ViewBag.Title = "Home Page";
}

<div class="content-top hero">
    <h1>
        Hi, I'm PJ Wehry
    </h1>
</div>

<div class="box mobile-no-top">
    <h2>Who am I?</h2>
    <img src="~/Content/img/PJProfile.png" class="profile-pic"/>
    <p >ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    @Html.ActionLink("Learn more here >>", "Resume", "Home")
</div>

<div class="box">
    <h2>Resume</h2>
    <p>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and gives you full control over markup
        for enjoyable, agile development.
    </p>
    @Html.ActionLink("See full resume here >>", "Resume", "Home")
</div>

<div class="box">
    <h2>Portfolio</h2>
    <p>This website:</p>
    <ul>
        <li>Uses the .NET MVC framework</li>
        <li>Is mobile responsive</li>
        <li>Includes JavaScript functionality</li>
        <li>Uses Razor</li>
        <li>@Html.ActionLink("This website on github >>", "Home", null, new { target = "_blank" })</li>
        <li>@Html.ActionLink("See more of my work here >>", "Portfolio", "Home")</li>
    </ul>
</div>