@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="resume-box">
    <h2 class="resume-title">PJ Wehry</h2>
    <ul class="contact-info">
        <li>pjwehry@gmail.com</li>
        <li>920-328-3947</li>
        <li>Winter Park, FL</li>
    </ul>
    <hr/>
    <h2>Objective</h2>
    <p class="summary">
        Looking for entry-level software development job.
        Driven and creative thinker with a high capacity for learning new skills.
        Excels at working with teams and customers in diverse cultures.
        Focused on C# and the .NET platform including basic web design skills.
    </p>
    <hr />
    <h2>Skills</h2>
    <ul>
        <li>C#, MVC, and .NET</li>
        <li>JavaScript</li>
        <li>Visual Studio and Atom</li>
        <li>CSS, HTML, Bootstrap</li>
        <li>Mobile Responsive Design</li>
        <li>Learning React</li>
    </ul>
    <hr />
    <h2>Resources</h2>
    <ul>
        <li>Team Treehouse: Javascript, C#, CSS, HTML Courses</li>
        <li>Don't Make Me Think, Revisited</li>
        <li>The Mythical Man-Month</li>
        <li>C# in Depth</li>
        <li>C# 6.0 and the .NET	4.6	Framework</li>
    </ul>
    <hr />
    <h3>Contact me for references.</h3>
    <a href="https://github.com/sadmask">Github</a> <br/>
    <a href="https://www.linkedin.com/in/pj-wehry/">LinkedIn</a> <br />
    <a href="https://drive.google.com/open?id=1zvIuVq7qoJvooXmgRCNytY7Y3f0juBKu">PDF Resume</a>
</div>